* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* :root{
    --sectionPadding: 
} */

li a {
    text-decoration: none;
}

main section:first-child {
    background-image: url(/imgs/bgs.jpg);
}

@media (min-width:768px) {
        main section:first-child {
        background-image: url(/imgs/bg.jpg);
    }
}
@media (min-width:1024px) {
        main section:first-child article{
        width:484px ;
        }
}
.graphContainer{
    width: 100%;
    height: 1rem;
    border-radius: 9999px;
    background-color: rgb(209,213,219);
    overflow: hidden;
}
.graphContainer span{
    width: 0;
    display: block;
    height: 100%;
    transition: 1s;
}
.earth{
    animation: earthMoving 1s ease-in-out infinite alternate ;
}
@keyframes earthMoving{
    0%{
        filter: drop-shadow( 0 0 0 orange);
        /* filter: grayscale(0%); */
        margin-top: 0;
    }
    100%{
        filter: drop-shadow( 0 0 15px rgb(255, 89, 0));
        /* filter: grayscale(100%); */
        margin-top: 40px;
    }
}